<div class="container mt-4">
  <div class="card" style="background-color: rgb(228, 228, 228)">
    <div class="card-body">
      <div class="container">
        <form
          [formGroup]="ledgerReportGroupForm"
          class="row g-3 align-items-md-end needs-validation"
          novalidate
        >
          <div class="col-md-6">
            <label class="form-label" style="font-weight: 500"
              >Ledger Report Group Code</label
            >
            <input
              type="text"
              id="ledgerReportGroupCode"
              pInputText
              formControlName="ledgerReportGroupCode"
              class="form-control"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label" style="font-weight: 500"
              >Ledger Report Group Title</label
            >
            <input
              type="text"
              id="ledgerReportGroupTitle"
              pInputText
              formControlName="ledgerReportGroupTitle"
              class="form-control"
            />
          </div>

          <div class="col-md-4">
            <label class="form-label" style="font-weight: 500"
              >Ledger Type Code</label
            >
            <select class="form-select" formControlName="ledgerTypeCode">
              <option value="" *ngFor="let i of ledgerTypeCodes">
                {{ i.ledgerTypeCode }}
              </option>
            </select>
          </div>

          <div class="col-12 d-flex justify-content-end gap-3">
            <!-- <div class="col-7"></div> -->
            <div class="col-auto">
              <button
                type="submit"
                class="btn btn-primary"
                style="min-width: 90px"
                (click)="addLedgerReportGroup()"
              >
                Save
              </button>
            </div>
            <div class="col-auto">
              <button
                type="submit"
                class="btn btn-danger"
                style="min-width: 90px"
                routerLink="/display-ledger-report-group"
              >
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
