<div class="container mt-4">
  <div class="card" style="background-color: rgb(228, 228, 228)">
    <div class="card-body">
      <div class="container">
        <form
          [formGroup]="currencyForm"
          class="row g-3 align-items-md-end needs-validation"
          novalidate
        >
          <div class="col-md-6">
            <label class="form-label" style="font-weight: 500"
              >Currency Code</label
            >
            <input
              type="text"
              id="currCode"
              pInputText
              formControlName="currCode"
              class="form-control"
              [(ngModel)]="currCodeValue"
              (ngModelChange)="currCodeValue = $event.toUpperCase()"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label" style="font-weight: 500"
              >Currency Name</label
            >
            <input
              type="text"
              id="currName"
              pInputText
              formControlName="currName"
              class="form-control"
            />
          </div>
          <div class="col-12 d-flex justify-content-end gap-3">
            <!-- <div class="col-7"></div> -->
            <div class="col-auto">
              <button
                type="submit"
                class="btn btn-primary"
                style="min-width: 90px"
                (click)="addCurrency()"
              >
                Save
              </button>
            </div>
            <div class="col-auto">
              <button
                type="submit"
                class="btn btn-danger"
                style="min-width: 90px"
                routerLink="/display-currency"
              >
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
